%html
  %head
    %title Kata Chain: Seinfeld's Don't Break the Chain concept meets code katas
    %link{:rel => 'icon', :type => 'image/png', :href => '/images/x_1.png', :sizes => '48x48'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/main.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/bootstrap.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/bootstrap-responsive.css'}
  %body
  .container
    .hero-unit
      %h1
        Kata Chain
        %p Code Katas meet Seinfeld's "Don't Break the Chain"
    .row
      .span6
        %h4 Kata
        %p 
          From
          %a{:href => "http://en.wikipedia.org/wiki/Kata_(programming)"}Wikipedia:
          Code Kata is a term coined by Dave Thomas, co-author of the book The Pragmatic Programmer, in a bow to the Japanese concept of kata in the martial arts. A code kata is an exercise in programming which helps a programmer hone their skills through practice and repetition.
      .span6
        %h4 Chain
        %p 
          From 
          %a{:href => "http://lifehacker.com/5886128/how-seinfelds-productivity-secret-fixed-my-procrastination-problem"}Lifehacker, 
          Don't Break the Chain is: "spend some amount of time doing a desired activity (code kata) every day and, when you do, cross off that day on a calendar. This creates a chain of Xs showing your progress. If you don't do your specified task on one day, you don't get an X and that chain is broken."
    .hero-unit
      %p 
        KataChain automates the crossing off of the day for you (although you can do it yourself as well if it suits you). 
        %a{:href => '/edit', :class => "btn btn-primary btn-large"} Authorize KataChain for GitHub
        then
        %a{:href => 'https://github.com/KataChain/KataChain', :target => "_blank", :class => "btn btn-primary btn-large"} Fork Katachain 
      %p Now commit your kata to GitHub every day. While 365 days, or forever for that matter are great goals, they might be a bit daunting. Therefore, a 60-day challenge has been added. Try it for 60-days and I guarantee you will see improvement. Below are some individuals that have already started.
    .row
      .span4
        %h4 Current Streaks
        %ul
          - @recent_users.each do |user|
            %li
              = link_to_user user
      .span4
        %h4 60 Day Club
        %ul
          - @sixty_users.each do |user|
            %li
              = link_to_user user
      .span4
        %h4 Longest Streaks
        %ul
          - @alltime_users.each do |user|
            %li
              = link_to_user user, :longest_streak
    .row
      .span12
        %h2 How can I help?
        %p 
          We have the ruby source code for http://KataCha.in
          %a{:href => "https://github.com/rossfuhrman/katachain.web"} on the githubs.
          Join in, it's a fun little 
          %a{:href => "http://www.sinatrarb.com"} Sinatra
          app!
          This app is largely based on the work of 
          %a{:href => "https://github.com/technoweenie/seinfeld"} Calendar About Nothing.

