<div class="subtitle">Code Katas</div>

<div id="borderedMain">
  <div id="content">
{{#anon}}
    <h1>Ready?</h1>
    <form action="/create" method="post">
      <p>
        You are just <em>one step away.</em> Click this,
        and we will start tracking your daily code katas.
      </p>
      <p><input type="submit" value="Start Tracking" /></p>
    </form>
{{/anon}}

{{#user}}
    <h2>Hey, you already have a <a href="/~{{ login }}">Calendar.</a></h2>
{{/user}}
  </div>
</div>
