/*------------------------------------------------------------------------------------
  @group Global Reset
------------------------------------------------------------------------------------*/
* {
  padding:0;
  margin:0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }

h1 { font-size: 18px; }
h2 { font-size: 14px; }

.access{ display:none; } /* For accessibility related elements */
.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden; }
a{ outline:none; }
a img{ border:none; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clearfix {height: 1%;}
.clearfix {display:inline-block;}
.clearfix {display: block;}

/* @end */

/*------------------------------------------------------------------------------------
  @group General Styles
------------------------------------------------------------------------------------*/

body{
  font-size:12px;
}

.title, .subtitle{
  margin:0 auto;
  width:700px;
  text-align:center;
}

.title{
  margin-top:10px;
  font-size:20px;
  text-transform:uppercase;
  letter-spacing:1px;
}
.subtitle{
  margin-top:5px;
  font-size:14px;
}

.current_streak, .longest_streak{
  width:150px;
  float:left
}

#zone {
  background:#DFDFDF;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.type{
  display:block;
  font-size:12px;
  margin-bottom:2px;
  color:#999;
  text-transform:uppercase;
  letter-spacing:0;
}
.num{
  display:block;
  font-size:30px;
  font-family: Century Gothic, Arial, sans-serif;
  color:#000;
  font-weight:bold;
  letter-spacing:-3px;
  float:right;
}
.num .desc{
  position:relative;
  top:-8px;
  left:4px;
  font-size:11px;
  letter-spacing:0;
  color:#999;
  font-weight:bold;
}

a{
  color:#00538d;
  text-decoration:none;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group Homepage
------------------------------------------------------------------------------------*/

#main, #borderedMain{
  margin:15px auto 30px auto;
  padding:0 0 20px 0;
  width:700px;
  background:#fff;
}

#borderedMain{
  border-top:2px solid #000;
  border-bottom:1px solid #000;
}

#content{
  width: 700px;
}

#recentUsers, #sixtyUsers, #userRecords{
  width:340px;
}

#recentUsers{
  float:left;
  padding-right: 10px;
}

#sixtyUsers{
  float:left;
  padding-right: 10px;
}

#userRecords{
  float:right;
  padding-left: 10px;
}

.footnote{
  text-align:right;
  font-size:11px;
  color:#666;
  font-family: Century Gothic, Arial, sans-serif;
  line-height:16px;
}
.footnote a{
  color:#333;
}
.footnote a:hover{ text-decoration:underline; }

/* @end */

/*------------------------------------------------------------------------------------
  @group Calendar Styles
------------------------------------------------------------------------------------*/










/*
A grey based theme, inspired by Blinksale and their ColorBurn widget. http://firewheeldesign.com
AUTHOR: Geoffrey Grosenbach http://nubyonrails.com
Colors:
dk: 787888
lt: 4f4f5b
lter: a8a8a8
white: ffffff
*/

/* TODO */

.calendar {
  margin: auto;
  color: black;
  text-align: center;
}




#calendar, #widget{
  margin:30px auto 15px auto;
}
#calendar table{
}
#calendar table th a{
}
#calendar table td{
  font-size:36px;
  width:100px;
  height:60px;
}




thead tr {
  color: black;
}

.monthName th {
  font-weight: normal;
  font-size: 24px;
  text-align: right;
  padding-top: 1em;
  padding-bottom: 0.7em;
  color: black;
}

.dayName th {
  font-size: 0.7em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  background-color: #303030;
  color: white;
  border-bottom: 1px solid white;
}

.otherMonth, .day, .specialDay {
}


.day, .specialDay {
  border-bottom: 1px solid #111111;
  background-color: #333333;
}
.specialDay {
  background-color: #a8a8a8;
  color: black;
}
.specialDay a, .specialDay a:visited, .specialDay a:hover {
  color: white;
  text-decoration: none;
  padding: 1em;
}
.specialDay a:hover {
  color: white;
  background-color: black;
}
.weekendDay {
  background-color: #787888;
}
.today {
  background-color: white;
  color: black;
}














tr.dayname th{
  width:100px;
  padding:5px 0;
  text-transform:uppercase;
  font-size:12px;
  font-weight:normal;
  letter-spacing:2px;
  border-left:none;
  border-right:none;
}
tr.dayname abbr{
  border:none;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group X Styles
------------------------------------------------------------------------------------*/

.otherMonth .chainlink{
  opacity:0.2;
}

.chainlink{
  width:100px;
  height:60px;
  position:relative;
  float:none;
  margin-top:-50px;
  z-index:100;
  background:url(../images/chain.png) 60% 100% no-repeat;
}

.chainlinkicon{
  width:25px;
  height:15px;
  position:relative;
  float:none;
  margin-top:-50px;
  z-index:100;
  background:url(../images/chain.png) 60% 100% no-repeat;
}

.today {
  color: blue;
}
/* @end */
